# Math Module

In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
r = 3
cevre = 2 * math.pi * r
print(cevre)

18.84955592153876

In [4]:
math.e

2.718281828459045

In [5]:
math.inf

inf

In [6]:
-math.inf

-inf

In [7]:
math.inf > 1e308

True

In [9]:
-math.inf < -1e308

True

In [10]:
math.inf + 1000

inf

In [11]:
math.inf /2

inf

# Not a Number

In [12]:
math.nan

nan

In [13]:
float("nan")

nan

In [14]:
math.nan == float("nan")

False

In [15]:
math.nan == math.nan

False

In [16]:
!pip install pandas
# python3 -m pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("data.txt")

In [19]:
df

   isim   yas     sehir
0   Ali  25.0  İstanbul
1  Ayşe   NaN    Ankara
2   Can  30.0       NaN

In [20]:
df.isna()

    isim    yas  sehir
0  False  False  False
1  False   True  False
2  False  False   True

In [21]:
df.fillna(0)

   isim   yas     sehir
0   Ali  25.0  İstanbul
1  Ayşe   0.0    Ankara
2   Can  30.0         0

In [22]:
x = float("nan")

In [23]:
print(x)

nan

In [24]:
math.isnan(x)

True

In [25]:
math.ceil(5.43)

6

In [26]:
math.ceil(-5.43)

-5

In [27]:
math.ceil(6)

6

In [28]:
math.floor(8.72)

8

In [29]:
math.floor(-8.72)

-9

In [31]:
math.trunc(12.32)

12

In [32]:
math.trunc(-12.32)

-12

In [33]:
math.isclose(6,7)

False

In [34]:
math.isclose(6.999999999,7)

True

In [36]:
math.isclose(6, 7, rel_tol=0.2)

True

In [ ]:
max(6,7) = 7 * %20 = 1.4

In [37]:
math.isclose(6,7, abs_tol=2)

True

In [38]:
math.isclose(6, 10, abs_tol=2)

False

# Uygulama 1 - Üçgenin Hipotenüsünün Değerini Bulma

In [39]:
a = float(input("1. kenarın uzunluğunu girin: "))
b = float(input("2. kenarın uzunluğunu girin: "))

hipotenus = math.sqrt(math.pow(a, 2) + math.pow(b, 2))

print("Hipotenüsün uzunluğu: ", hipotenus)

1. kenarın uzunluğunu girin:  5
2. kenarın uzunluğunu girin:  12

Hipotenüsün uzunluğu:  13.0

In [42]:
a = float(input("1. kenarın uzunluğunu girin: "))
b = float(input("2. kenarın uzunluğunu girin: "))

hipotenus = math.sqrt(a**2 + b**2)

print("Hipotenüsün uzunluğu: ", hipotenus)

1. kenarın uzunluğunu girin:  7
2. kenarın uzunluğunu girin:  24

Hipotenüsün uzunluğu:  25.0

In [40]:
a = float(input("1. kenarın uzunluğunu girin: "))
b = float(input("2. kenarın uzunluğunu girin: "))

hipotenus = math.sqrt(math.pow(a, 2) + math.pow(b, 2))

print("Hipotenüsün uzunluğu: ", hipotenus)

1. kenarın uzunluğunu girin:  15
2. kenarın uzunluğunu girin:  17

Hipotenüsün uzunluğu:  22.67156809750927

In [43]:
a = float(input("1. kenarın uzunluğunu girin: "))
b = float(input("2. kenarın uzunluğunu girin: "))

hipotenus = math.sqrt(math.pow(a, 2) + math.pow(b, 2))

print("Hipotenüsün uzunluğu: ", int(hipotenus))

1. kenarın uzunluğunu girin:  7
2. kenarın uzunluğunu girin:  24

Hipotenüsün uzunluğu:  25

# Hesap Makinesi

In [45]:
print("Basit bir hesap makinesi")

sayi1 = float(input("Birinci sayıyı giriniz: "))
sayi2 = float(input("İkinci sayıyı giriniz: "))

print("Toplam: ", sayi1 +sayi2)
print("Çıkarma: ", sayi1 - sayi2)
print("Çarpma: ", sayi1 * sayi2)
print("Bölme: ", sayi1 / sayi2)
print("a üssü b: ", math.pow(sayi1,sayi2))
print("Birinci sayının karekökü: ", math.sqrt(a))

Basit bir hesap makinesi

Birinci sayıyı giriniz:  3
İkinci sayıyı giriniz:  5

Toplam:  8.0
Çıkarma:  -2.0
Çarpma:  15.0
Bölme:  0.6
a üssü b:  243.0
Birinci sayının karekökü:  2.6457513110645907